<ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-grid>
          <ion-row style="margin-top: 15px; margin-bottom: 15px;">
            <ion-buttons>
              <ion-menu-button slot="start"></ion-menu-button>
            </ion-buttons>
            <ion-title><img alt="logo" height="42"   src="../../assets/images/WK-Mobile-Logo.png" ></ion-title>
          </ion-row>
        </ion-grid>    
      </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-content>
            <ion-card-title>ER</ion-card-title>
        </ion-card-content>
    </ion-card>
  </ion-content>